@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, Sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive; 
}

*{
    margin: 0px;
    padding: 0px;
    test
}

html body{
    font-family: var(--fonte1);
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
    /*text-transform: uppercase; tag para deixar as letras maiusculas*/ 
}

header p {
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;   
}

section{
    font-family: var(--fonte3);
    padding: 10% 0 10% 30px;
    line-height: 2em;
    font-size: 4vw;
}

section.normal{
    background-color: white;
}

section.img{
    background-color: #00000043;
    color: white;
}

section.img p {
    background-color: #0000005c; 
    padding: 5px;
    display: inline-block;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px ;
}
